sh1, h2, h3 {
    font-family: 'Montserrar', sans-serif;
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: black;
    overflow-x: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.container {
    max-width: 100%;
}
.container img {
    display: block;
    margin: 0 auto; /* centraliza a imagem */
}
img, body, .container, .navbar {
    max-width: 100%;
}
h1 {
    text-align: center;
    margin-bottom: 2rem;
}
h2.card-title, h2.hora-vale, h2.preco-minimo, h2.card-title.quanto-cobrar {
    background-color: #ea617a;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
h2.card-title.vida-desejada, h2.card-title.valor-desejada-hora {
    background-color: #afc7e9;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
p {
    color: #000;
    font-size: 18px;
}
.mt-4{
    font-size: 20px;
    color: #000;
}

/* ... resto do seu código ... */
.btn-primary, .btn-secondary {
    font-weight: bold;
    padding: 10px 20px !important;
    color: #ffffff !important;
}
.btn-primary {
    background-color: #ea617a !important;
    border-color: #ea617a;
}
.btn-secondary {
    background-color: #afc7e9 !important;
    border-color: #afc7e9 !important;
}

.banner {
    width: 100%;
    border-color: #ffffff;
}
.navbar {
    background-color: #ea617a;
    justify-content: space-between;
}
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path stroke="rgba(255, 255, 255, 1)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>') !important;
}
.navbar-brand {
    justify-content: flex-end; /* Centralização horizontal */
    align-items: center; /* Centralização vertical */
}
.navbar-brand, .navbar-nav .nav-link {
    color: white;
}
main {
    flex-grow: 1;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinha verticalmente */
    padding: 20px;
    background-color: #ffffff;
    color: white;
}

.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-buttons img {
    width: 40px;
    margin-left: 20px;
}
.navigation-buttons {
    display: flex;
    align-items: center;
}
.navigation-buttons .btn {
    margin-right: 20px;
}

#salario-atual, #horas-dia-atual, #dias-semana-atual, #salario-almejado, #horas-dia-almejado, #dias-semana-almejado, #valor-hora-almejada-editavel, #custo-material, #mtkplace {
    background-color: #eaeaea;
    color: #000;
    font-weight: bold;
}
#vida-atual {
    background-color: #ffffff;
    color: #ea617a;
}
#vida-almejada {
    background-color: #fbfbfb;
    color: #ea617a;
}
#valor-produto {
    background-color: #ffffff;
    color: #ea617a;
}
#valor-hora-atual {
    background-color: #eaeaea; /* Cinza Claro */
    color: black;
    font-weight: bold;
}
#valor-hora-almejado {
    background-color: #eaeaea; /* Cinza Claro */
    color: black;
    font-weight: bold;
}

#valor-produto-final {
    background-color: #eaeaea; /* Cinza Claro */
    color: black;
}

.card {
    margin: 1rem;
    border: #ffffff;
    display: none;
}
.card.active {
    display: block;
}
.btn-primary {
    background-color: #ea617a !important;
    color: #ffffff !important;
    font-weight: bold;
    border-color: #ea617a;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-secondary {
    background-color: #afc7e9 !important;
    color: #000000 !important;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-back-home {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh; /* Ajusta a altura para ocupar toda a tela */
}
.btn-back {
    position: relative;
    background: url('img/back.png') no-repeat;
    background-size: contain;
    border: none;
    width: 40px; 
    height: 40px;
}
.btn-home {
    position: relative;
    background: url('img/home.png') no-repeat;
    background-size: contain;
    border: none;
    width: 40px; 
    height: 40px;
}
.btn-front {
    position: relative;
    background: url('img/front.png') no-repeat;
    background-size: contain;
    border: none;
    width: 40px; 
    height: 40px;
}
.btn-back:hover, .btn-home:hover {
    background-color: transparent !important; /* Remover fundo cinza */
}

.menu {
    background-color: #ea617a;
    padding: 10px 0;
}
.menu a {
    color: white;
    padding: 10px;
    text-decoration: none;
}
.menu a:hover {
    text-decoration: underline;
}
.valor-hora-card {
    background-color: white;
    border: 2px solid #ea617a;
    color: #ea617a;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: #afc7e9; /* Define a cor da barra do range */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px; /* Ajuste conforme o tamanho da sua imagem */
    height: 50px; /* Ajuste conforme o tamanho da sua imagem */
    background: url('img/estrela.png') no-repeat center;
    border: none; /* Removendo a borda branca */
    margin-top: -10px; /* Ajuste conforme necessário */
    z-index: 2;
}

/* Estilo para Firefox */
input[type=range]::-moz-range-thumb {
    width: 50px; /* Ajuste conforme o tamanho da sua imagem */
    height: 50px; /* Ajuste conforme o tamanho da sua imagem */
    background: url('img/estrela.png') no-repeat center;
    border: none; /* Removendo a borda branca */
    margin-top: -10px; /* Ajuste conforme necessário */
    z-index: 2;
}

input[type=range]::-moz-range-track {
    background: #afc7e9; /* Cor de fundo da trilha */
}

/* Estilo para Firefox - Cor da progressão */
input[type=range]::-moz-range-progress {
    background: #ea617a;
}


  #nicho {
    display: block;
    width: 100%;
}
  
